*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --background-color: #89cff0;
    --marill-blue: #4DB6E8;
    --marill-red: #D15E47;
    --marill-white: #E5F0E0;
    --marill-border: 0.2rem solid black;
}

html{
    font-size: 62.5%;
}

body{
    min-height:100vh;
    background:var(--background-color);
}

.marill{
    position:relative;
}

.marill__body{
    width:41rem;
    height:42rem;
    background:var(--marill-blue);
    border-radius: 50%;
    border: var(--marill-border);
    border-bottom-left-radius: 48%;
    border-bottom-right-radius: 48%;
    position:relative;
    overflow: hidden;
}

.marill__belly{
    height:80%;
    width:95%;
    position:absolute;
    background:var(--marill-white);
    top:40%;
    left:50%;
    border-radius:50%;
    transform: translateX(-50%);
    border: var(--marill-border);
    filter: blur(x);
}

.marill__eye{
    width:4rem;
    height:4rem;
    background:black;
    position:absolute;
    top:20%;
    border-radius: 50%;
    overflow: hidden;
}

.marill__eye--left{
    left:25%;
}

.marill__eye--right{
    right:25%;
}

.marill__pupil{
    width:45%;
    height: 45%;
    background:white;
    border-radius: 50%;
    position:absolute;
    top:9%;
}

.marill__pupil--left{
    left:37%;
}

.marill__pupil--right{
    right:37%;
}

.marill__ear{
    position:absolute;
    width:20rem;
    height:23rem;
    background:var(--marill-blue);
    border-radius: 50%;
    top:-20%;
    border: var(--marill-border);
    z-index: -1;
    overflow:hidden;
}

.marill__ear--left{
    left:-15%;
    transform: rotate(40deg);

}

.marill__ear--right{
    right:-15%;
    transform: rotate(-40deg);

}


.marill__ear--left::after, .marill__ear--right::after{
    content:"";
    width:90%;
    height:90%;
    background:var(--marill-red);
    position:absolute;
    border-radius:50%;
    border: var(--marill-border);
    top:20%;
    left:50%;
    transform:translateX(-50%);

}

.marill__ear--left::after{

}

.marill__ear--right::after{
   
}

.marill__nose{
    width:1.5rem;
    height:0.5rem;
    position:absolute;
    top:27%;
    left:50%;
    background:black;
    border-radius: 50%;
    transform:translateX(-50%);
}

.marill__mouth{
    height:3rem;
    width:10rem;
    top:28%;
    background:transparent;
    left:50%;
    position:absolute;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 0.5rem solid transparent;
    border-bottom:0.2rem solid black;
}
.u-flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}