*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --background-color: #89cff0;
    --marill-blue: #4DB6E8;
    --marill-red: #EA535E;
    --marill-white: #E5F0E0;
    --marill-tongue-color: #D9B0C5;
    --marill-black: black;
    --marill-white: white;
    --marill-border: 0.2rem solid var(--marill-black);
}

html{
    font-size: 62.5%;
}

body{
    min-height:100vh;
    background:var(--background-color);
}

.marill{
    position:relative;
}

.marill__label{
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    width:150%;
    height:120%;
    z-index: 3;
}

.marill__checkbox{
    -webkit-appearance: none;
    appearance: none;
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:0;
}

.marill__body{
    width:41rem;
    height:42rem;
    background:var(--marill-blue);
    border-radius: 50%;
    border: var(--marill-border);
    border-bottom-left-radius: 48%;
    border-bottom-right-radius: 48%;
    position:relative;
    overflow: hidden;
    z-index: 1;
}

.marill__belly{
    height:80%;
    width:95%;
    position:absolute;
    background:var(--marill-white);
    top:45%;
    left:50%;
    border-radius:50%;
    transform: translateX(-50%);
    border: var(--marill-border);
    filter: blur(1px);
}

.marill__eye{
    width:4rem;
    height:4rem;
    background:var(--marill-black);
    position:absolute;
    top:20%;
    border-radius: 50%;
    border: 0.2rem solid var(--marill-blue);
}

.marill__eye::after{
    content:"";
    width:105%;
    height:105%;
    position:absolute;
    top:50%;
    left:50%;
    background: var(--marill-blue);
    border: 0.2rem solid var(--marill-blue);
    border-bottom: var(--marill-border);
    border-radius: 50%;
    transform:translate(-50%, -50%) scaleY(1);
    transition: 0.2s transform;
    transform-origin: top center;
}

.marill__checkbox:checked ~ .marill__body .marill__eye::after{
    transform:translate(-50%, -50%) scaleY(0);
}

.marill__eye--left{
    left:25%;
}

.marill__eye--right{
    right:25%;
}

.marill__pupil{
    width:45%;
    height: 45%;
    background:var(--marill-white);
    border-radius: 50%;
    position:absolute;
    top:9%;
}

.marill__pupil--left{
    left:37%;
}

.marill__pupil--right{
    right:37%;
}

.marill__ear{
    position:absolute;
    width:20rem;
    height:23rem;
    background:var(--marill-blue);
    border-radius: 50%;
    top:-20%;
    border: var(--marill-border);
    z-index: -1;
    overflow:hidden;
}

.marill__ear--left{
    left:-15%;
    transform: rotate(40deg);

}

.marill__ear--right{
    right:-15%;
    transform: rotate(-40deg);

}

.marill__ear::after{
    content:"";
    width:90%;
    height:90%;
    position:absolute;
    border-radius:50%;
    border: var(--marill-border);
    top:20%;
    left:50%;
    transform:translateX(-50%);

}

.marill__nose{
    width:1.5rem;
    height:0.5rem;
    position:absolute;
    top:27%;
    left:50%;
    background:var(--marill-black);
    border-radius: 50%;
    transform:translateX(-50%);
}

.marill__mouth{
    top:28%;
    left:50%;
    position: relative;
}

.marill__smile{
    height:3rem;
    width:10rem;
    position:absolute;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 0.5rem solid transparent;
    border-bottom:var(--marill-border);
    top:27%;
    left:50%;
    z-index: 1;
}

.marill__oval{
    height: 7rem;
    width:5rem;
    position:absolute;
    border: var(--marill-border);
    border-radius: 50%;
    left:50%;
    transform:translateX(-50%) scaleY(0);
    top:25.5%;
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
    background: var(--marill-red);
    overflow: hidden;
    transition:0.2s transform;
}

.marill__checkbox:checked ~ .marill__body .marill__oval{
    transition-delay: 0.05s;
    transform:translateX(-50%) scaleY(1);
}

.marill__tongue{
   width:4rem;
   height:3rem;
   position:absolute;
   background:var(--marill-tongue-color);
   border-radius: 50%;
   bottom:-10%;
   left:50%;
   transform:translateX(-50%);
}

.marill__tailStripe{
    width:10rem;
    height:1rem;
    background:var(--marill-black);
    position: absolute;
    border-radius: 50px;
}

.marill__tailStripe--first{
    right:-8%;
    top:80%;
    transform:rotate(-20deg);
}

.marill__tailStripe--second{
    right:-19%;
    width:6rem;
    top:79%;
    transform:rotate(25deg);
}

.marill__tailStripe--third{
    right:-35%;
    top:72%;
    transform:rotate(-60deg);
}

.marill__tailStripe--fourth{
    right:-38%;
    top:69%;
    width:6rem;
    transform:rotate(70deg);
}

.marill__tailStripe--fifth{
    right:-53%;
    top: 67%;
    transform:rotate(-45deg);
}

.marill__tail{
    position:absolute;
    width: 15rem;
    height:15rem;
    border-radius: 50%;
    top:30%;
    z-index: 5;
    left:142%;
    background:var(--marill-blue);
    border: var(--marill-border);
}

.u-flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}